@model TrashCollection.Models.Customer

@{
    ViewData["Title"] = "Specialty Pickup";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

<h1>Specialty One-Time Pickup</h1>

<h4><span class="badge badge-secondary">@Model.AbbrvName</span></h4>
<hr />
<div class="card mx-auto">
    <div class="card-header">
        <h3>Specialty Pickup One-Time Service</h3>
    </div>

    <div class="card-body">

        <h5>Please enter the dates you would like to pause and resume your service.</h5>


        @if (Model.StartDate == DateTime.MinValue)
        {
            <form asp-action="ServicePause">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <label class="control-label">Please Choose a Date to begin the service pause.</label>
                    <input asp-for="StartDate" type="datetime-local" value="@DateTime.Today.ToString("MM/dd")" /><br />
                </div>
                <div class="form-group">
                    <label class="control-label">Please Choose a Date to End the service pause.</label>
                    <input asp-for="EndDate" type="datetime-local" value="@DateTime.Today.ToString("MM/dd")" /><br />
                </div>

                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        }
        else if (Model.StartDate != DateTime.MinValue || Model.EndDate != DateTime.MinValue)
        {
            var dateFormattedStart = Model.StartDate.ToString("MM/dd");
            var dateFormattedEnd = Model.StartDate.ToString("MM/dd");
            <div class=" row text-center">
                <div class="alert alert-secondary mx-auto " role="alert">
                    <h4>
                        Service Pause in effect.
                    </h4>
                    <hr />
                    <h5>
                        Start Date: @dateFormattedStart
                    </h5>
                    <h5>End Date: @dateFormattedEnd</h5>
                    <hr />
                    <a asp-action="EndServicePause" asp-route-id="@Model.Id" class="btn btn-light">End Service Early</a>
                </div>
            </div>
            


        }


    </div>
        </div>


